
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  background: rgb(2,0, 36);
  background: linear-gradient(90deg, rgba(2,0,36,1)0%, rgba(213,13,13,1) 100%);
} 

